#header {
    background: #242428;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#headerDiv {
    margin: 0 auto;
    padding: 0.5rem;
}

#headerContent {
    margin-left: 2em;
    margin-bottom: 0.2em;
    margin-top: -0.1em;
}

.externalLink {
    text-decoration: none;
    color: #DDDDDD;
    font-size: 0.7em;
    font-weight: 100;
}

#ucsdLink {
    font-family: serif;
}

#hyphenLink {
    font-family: sans-serif;
}

#idekerLink {
    font-family: sans-serif;
}

#idekerLink:hover {
    font-weight: 700;
    font-size: 0.677em;
}

#ucsdLink:hover {
    font-weight: 700;
    font-size: 0.681em;
}