:root {
  --header-height: 120px;
}

h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
}

p {
  font-size: 20px;
  margin-left: 5em;
  margin-right: 5em;
  line-height: 28px;
  text-align: justify;
}

h2::before {
  display: block;
  content: ' ';
  margin-top: calc(-1 * var(--header-height));
  height: var(--header-height);
  visibility: hidden;
  pointer-events: none;
}
