@import '../../constants.css';

:root {
  --tooltip-width: 215px;
  --tooltip-height: 70px;
  --arrow-size: 10px;
  --tooltip-offset: 20px;
  --tooltip-border-radius: 15px;
  --button-side-spacing: 1em;
  --button-spacing: 1em;
  --button-height: 70px;
  --button-width: 240px;
  --border-width: 4px;
}

.vertical {
  margin-bottom: var(--button-spacing);
  margin-top: var(--button-spacing);
}

.horizontal {
  padding: 0 var(--button-side-spacing);
  flex-grow: 0;
  flex-shrink: 0;
}

.button {
  font-style: normal;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  width: var(--button-width);
  height: var(--button-height);
  vertical-align: middle;
  color: black;
  border: none;
  padding: 0;
}

.button:hover {
  cursor: pointer;
  color: black;
}

.textShadow {
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}

.backgroundLayer {
  height: var(--button-height);
  width: var(--button-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid rgb(255, 140, 0);
}

.backgroundLayer:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}

.nest {
  background-image: url(../../images/NeST_main_map.png);
  background-position: 65% 52%;
}

.nest .backgroundLayer {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}

.ias {
  background-image: url(../../images/ias.png);
  background-position: 50% 89%;
}

.ias .backgroundLayer {
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
}

.hiview {
  background-image: url(../../images/hiview.png);
  background-position: 68% 100%;
}

.hiview .backgroundLayer {
  background-color: rgba(255, 255, 255, 0.25);
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: white;
  color: rgb(0, 0, 0, 0.8);
  text-align: center;
  padding: 5px;
  border-radius: var(--tooltip-border-radius);
  z-index: 2;
  position: absolute;
  line-height: 15px;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: 15px;
  transition-delay: 0s;
  border: solid 2px #3d8dca;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  transition-delay: 0.3s;
}

.tooltip .tooltipText.top::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: calc(-1 * var(--arrow-size));
  border-width: var(--arrow-size);
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip .tooltipText.bottom::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: calc(-1 * var(--arrow-size));
  border-width: var(--arrow-size);
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translate(
    calc(-1 * (var(--tooltip-width) / 2)),
    calc(-1 * var(--tooltip-offset))
  );
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translate(
    calc(-1 * (var(--tooltip-width) / 2)),
    var(--tooltip-offset)
  );
}

.tooltipConnector {
  width: var(--tooltip-width);
  background-color: transparent;
  height: calc(var(--tooltip-offset) + var(--tooltip-border-radius));
  z-index: 1;
  position: absolute;
  visibility: hidden;
}

.tooltip:hover .tooltipConnector {
  visibility: visible;
  transition-delay: 0.3s;
}

.tooltipConnector.top {
  transform: translate(-50%, 0);
}

.tooltipConnector.bottom {
  transform: translate(-50%, 0);
}

.noUnderline {
  text-decoration: none;
}
