#ccmiHeader {
  background: #242428;
  width: 100%;
  position: fixed;
  z-index: 1;
  min-height: 81px;
  height: fit-content;
}

#ccmiHeaderContent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 2.5em;
  margin-left: 13.5em;
  text-align: center;
}

.externalLink {
  text-decoration: none;
  color: #dddddd;
  font-size: 28.35px;
  font-weight: 100;
}

#ucsdLink {
  font-family: serif;
}

#hyphenLink {
  font-family: sans-serif;
}

#idekerLink {
  font-family: sans-serif;
}

#idekerLink:hover {
  font-weight: 700;
  font-size: 27.4185px;
}

#ucsdLink:hover {
  font-weight: 700;
  font-size: 27.5805px;
}

#ccmiLogo {
  margin-left: 2.5em;
  width: 10em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 1em;
}

#ccmiLogo:hover {
  width: 10.6em;
  margin-left: 2.2em;
  cursor: pointer;
}

#expand {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
