@import '../../constants.css';

h1 {
  display: inline-block;
  font-weight: 100;
  color: white;
  vertical-align: middle;
  margin: var(--spacing-margin-y) var(--spacing-margin-x);
}

#title {
  font-size: 200px;
  line-height: 140px;
  font-weight: 100;
  display: block;
  font-weight: 100;
}

#subtitle {
  font-size: 38px;
  padding-top: 18px;
  position: relative;
  font-weight: 100;
  display: block;
}
