@import '../../constants.css';

#topDiv {
  background-color: rgba(3, 120, 193, 0.85);
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topDivWrapper {
  background-image: url(../../images/ideker_favicon.png);
  background-position-y: 20%;
  background-position-x: 0;
  min-height: 450px;
}

#topDivContents {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin: var(--spacing-margin-y) 0 var(--spacing-margin-y);
}
