@import '../../constants.css';

.container {
  background-color: rgba(3, 120, 193, 0.85);
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url(../../images/NeST_main_map.png);
  background-position-y: 20%;
  background-position-x: 0;
  min-height: 450px;
}

.contents {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin: var(--spacing-margin-y) 0 var(--spacing-margin-y);
}
