@import '../../constants.css';

h1 {
  display: inline-block;
  font-weight: 100;
  color: white;
  vertical-align: middle;
  text-align: center;
  margin: var(--spacing-margin-y) var(--spacing-margin-x);
}

.text {
  font-weight: 100;
  margin: 0;
  display: block;
}

.title {
  composes: text;
  font-size: 200px;
  line-height: 140px;
}

.subtitle {
  composes: text;
  font-size: 38px;
  padding-top: 20px;
  position: relative;
  line-height: 38px;
  left: -13px;
}
