@import '../../constants.css';

h1 {
  display: inline-block;
  font-weight: 100;
  color: white;
  vertical-align: middle;
  text-align: center;
  margin: var(--spacing-margin-y) var(--spacing-margin-x);
}

.text {
  font-weight: 100;
  margin: 0;
  display: block;
}

.title {
  composes: text;
  font-size: 250px;
  line-height: 250px;
}

.subtitle {
  composes: text;
  font-size: 45px;
  line-height: 45px;
  position: relative;
}
