@import '../../constants.css';

.container {
  display: inline-block;
  vertical-align: middle;
  margin: var(--spacing-margin-y) var(--spacing-margin-x);
  position: relative;
  top: calc(var(--button-bottom-spacing) / 2);
}
